:root{
    --color-dark: #2E1A1E;
    --color-highlight: #D35A2A;
    --color-neutral: #EBEBEB;
    --color-light: #FCFCFC;
}
main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

hr{
    max-width: 70%;
    margin: auto;
}
.step {
    text-align: center;
    padding: 20px;
}

.steps {
    margin: 30px auto;

}

/* button styling */
/*              */
button{
    margin: auto;
    display: flex;
    border: 1px solid var(--color-dark);
	border-radius: 3rem;
	overflow: hidden;
	background-color: var(--color-light);
    padding: 10px 20px;
}

button:hover{
    color: var(--color-highlight);
    border: 1px solid var(--color-highlight);
    
}



@media only screen and (max-width: 749px){
    img {
    max-width: 70%;
}
}

@media only screen and (min-width: 750px){
    .steps {
        
        max-width: 70%;
        display: flex;
    }
    img {
        max-width: 100%;
    }
}