:root{
    --color-dark: #2E1A1E;
    --color-highlight: #D35A2A;
    --color-neutral: #EBEBEB;
    --color-light: #FCFCFC;
    --font-logo: mixta-pro, serif;
    --font-text: new-order, sans-serif;
}

* {
    padding: 0%;
    margin: 0%;
    font-family: var(--font-text);
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: var(--color-neutral);
    min-width: 100vw;
}
nav { 
    padding: 40px 50px;
    display: flex;
    justify-content: space-between;
}

.logo-h1 {
    font-family: var(--font-logo);
    color: #D35A2A;
    line-height: 40px;
    font-size: 50px;
}

.logo-p {
    padding-left: 5px;
    font-family: var(--font-text);
}

.nav-items {
    align-self: center;
}

.nav-items > a {
    padding: 20px;
    color: var(--color-dark);
}
.nav-items > a:hover{
    color: var(--color-highlight);
}
