:root{
  --color-dark: #2E1A1E;
  --color-highlight: #D35A2A;
  --color-neutral: #EBEBEB;
  --font-logo: mixta-pro, serif;
  --font-text: new-order, sans-serif;
  
}

* {
  padding: 0%;
  margin: 0%;
  font-family: var(--font-text);
}

body{
  text-align: center;
  background-color: var(--color-neutral);
  color: var(--color-dark);
}

.day{
    border: 3px solid var(--color-dark);
    background-color: #ddd;
    border-radius: .5em;
    padding: 10px;
    cursor: pointer;
}
.weekDay{
  border: 3px solid var(--color-dark);
  background-color: #ddd;
  border-radius: .5em;
  padding: 10px;
}

.week{
  display: grid;
  grid-template-columns:repeat(7, 1fr);
  gap: 10px;
}

button{
  margin: auto;
  display: flex;
  border: 1px solid var(--color-dark);
  border-radius: 3rem;
  overflow: hidden;
  background-color: var(--color-light);
  padding: 10px 20px;
}

button:hover{
  color: var(--color-highlight);
  border: 1px solid var(--color-highlight);
  
}
.image{
  width: 10vw;
}