*{
    margin: 0%;
}

root {
    --color-dark: #2E1A1E;
    --color-highlight: #D35A2A;
    --color-neutral: #EBEBEB;
    --color-light: #FCFCFC;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.searchFunction {
    display: flex;
    justify-content: center;
    height: 25px;
}

.searchBarButton {
    margin-left: 5px;
    padding: 2px;
}

.container {
    justify-content: center;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    width: 90%;
    padding-top: 20px;
    object-position: center
}

.card {
    justify-self: center;
    height: 400px;
    max-width: 270px;
    margin: 10px;
    border: 3px solid var(--color-neutral);
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--color-light);
}
.card:hover{
    border: 3px solid var(--color-highlight);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 30px 80px 0 rgba(0, 0, 0, 0.19);
}

.image{
    max-height: 70%;
    overflow: hidden;
}

.plusImage {
    height: 50px;
    cursor: pointer;
}

.cardcontent-container {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    align-items: center;
    margin-right: 20px;
    justify-content: center;
}

.buttonRecipe {
    padding: 5px;
}


