*{
    margin: 0%;
}

root {
    --color-dark: #2E1A1E;
    --color-highlight: #D35A2A;
    --color-neutral: #EBEBEB;
    --color-light: #FCFCFC;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

@media only screen and (max-width: 768px){
    .nav-items {
        display: none
    }

    .hamburgerButton {
        background-color: #EBEBEB;
        color: #D35A2A;
        padding: 16px;
        font-size: 16px;
        border: 1px solid black;
        border-radius: 10px;
        cursor: pointer;
    }

    .hamburgerButton :hover, .hamburgerButton :focus {
        background-color: #EBEBEB;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 120px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border: 1px solid black;
        border-radius: 10px;
    }

    .dropdown-content a {
        color: #D35A2A;
        padding: 10px 10px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #EBEBEB
    }

    .show {
        display:block;
    }
}

@media only screen and (min-width: 769px){
    .dropdown {
        display: none;
    }
}

.searchFunction {
    display: flex;
    justify-content: center;
    height: 25px;
}

.searchBarButton {
    margin-left: 5px;
    padding: 2px;
}

.container {
    justify-content: center;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    width: 90%;
    padding-top: 20px;
    object-position: center
}

.card {
    justify-self: center;
    height: 400px;
    max-width: 270px;
    margin: 10px;
    border: 3px solid var(--color-neutral);
    border-radius: 5px;
    overflow: hidden;
    background-color: var(--color-light);
}
.card:hover{
    border: 3px solid var(--color-highlight);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 30px 80px 0 rgba(0, 0, 0, 0.19);
}

.image{
    max-height: 70%;
    overflow: hidden;
}

.plusImage {
    height: 50px;
    cursor: pointer;
}

.cardcontent-container {
    height: 40px;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.buttons {
    height: 30px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    justify-content: center;
}

.buttonRecipe {
    padding: 5px;
}


