 :root {
     --color-dark: #2E1A1E;
     --color-highlight: #D35A2A;
     --color-neutral: #EBEBEB;
     --font-logo: mixta-pro, serif;
     --font-text: new-order, sans-serif;
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background-color: let(--color-neutral);
 }

 main {
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .pageTitle {
     text-align: center;
     margin-bottom: 1rem;
 }
 
 .groceryListBody, .bigListBody{
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 98%;
     height: auto;
     margin-left: 0.2rem;
     margin-bottom: 1rem;
     border-style: solid;
     border-radius: 5px;
     border-color: #D35A2A;
 }

 h3 {
     margin-top: 1rem;
     text-align: center;
 }

 .date {
     margin: 1rem;
 }

 .checkBox {
     margin-right: 0.7rem;
     background-color: #D35A2A;
 }

 .date {
     text-align: center;
     text-decoration: underline;
 }

 .ingredientsHolder {
     width: 97%;
     height: auto;
 }

 ul {
     display: flex;
     margin: 0.5rem;
     list-style-type: none;
 }

 li {

     margin-left: 0.3rem;
 }

 .ingredientsLi {
     margin-left: 2rem;
 }

 @media only screen and (min-with: 426px) and (max-with: 768px) {
     main {
         display: flex;
         justify-content: center;
     }

     .groceryListBody {
         display: flex;
         justify-content: center;
         width: 98%;
         height: auto;
     }

     h1 {
         text-align: center;
     }

     .date {
         text-align: center;
     }

     .ingredientsHolder {
         width: 70%;
         height: auto;
     }

     ul {
         display: flex;
         list-style-type: none;
     }
 }