:root {
    --color-dark: #2E1A1E;
    --color-highlight: #D35A2A;
    --color-neutral: #EBEBEB;
    --font-logo: mixta-pro, serif;
    --font-text: new-order, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border,
.date,
.groceryListBody,
.ingredientsHolder {
    border: 2px solid red;
}

body {
    background-color: let(--color-neutral);
}

main {
    display: flex;
    justify-content: center;
}

.groceryListBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 98%;
    height: auto;
}

h1 {
    text-align: center;
}

.date {
    text-align: center;
}

.ingredientsHolder {
    width: 100%;
    height: auto;
}

ul {
    list-style-position: inside;
    /* Add the bullets inside the div*/
}